*.pyc
*.pyo
*.pyd
__pycache__/

venv/
env/
.venv/
env.bak/
venv.bak/

*.egg-info/
dist/
build/
.eggs/

.vscode/
.idea/
*.swp
*~

*.log

.ipynb_checkpoints/

*.sqlite3
*.db

*.env
*.env.*

*.coverage
*.hypothesis/
.coverage.*

.DS_Store
Thumbs.db

*.bak
*.tmp

*.pt
*.csv

*.mp4